<img alt="Icon" src="/assets/index.jpg" / style="height :500px;">

<%= form_tag(comments_path) do %>
 <%= text_area_tag :comment, :nil, :size=> "44x6" %>
 <%= submit_tag "save comment", :class => "btn btn-default" %>
<% end %>
<div style="margin-left :500px; margin-top :-620px; "><h1>Welcome Dinesh </h1>
